DATABASE_URL=
NUXT_SERVER_BASE_URL=
JWT_SECRET=

# Google OAuth2.0 Crredentials for Node Mailer
NUXT_PUBLIC_EMAIL_SENDER=
NUXT_OAUTH2_CLIENT_ID=
NUXT_OAUTH2_CLIENT_SECRET=
NUXT_OAUTH2_REFRESH_TOKEN=
NUXT_OAUTH2_REDIRECT_URI=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Upload Storage Path
UPLOAD_STORAGE_PATH=