DATABASE_URL=
NUXT_SERVER_BASE_URL=
JWT_SECRET=

# Node Mailer Credentials
NUXT_NODEMAILER_AUTH_USER=
NUXT_NODEMAILER_AUTH_PASS=
NUXT_PUBLIC_EMAIL_HOST=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Upload Storage Path
UPLOAD_STORAGE_PATH=
